
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @using (Html.BeginForm())
        {
            <p> @Html.Label("Введіть ім'я") </p> 
            <p> @Html.Label("fdgfdg")</p>
        }
    </div>
</body>
</html>
